<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.geek.android.things.driver.pwm">

    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />

    <application>
        <uses-library android:name="com.google.android.things" />
    </application>
</manifest>
